.front{
    background: url("https://cdn.pixabay.com/photo/2018/06/12/20/17/soccer-3471402_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 916px;
    width: 100%;
    object-position: 50% 50%;
    display: flex;
    
}
.logo{
    height: 3rem;
    width: 3rem;
}
.logo1{
    height: 3rem;
    width: 3rem;
}
.navbar{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
}
.search{
    height: 2rem;
    width: 25rem;
    position: absolute;
    top: 0;
    right: 150%;
    margin-top: 1.45rem;
    padding: 10px;
}
.search input{
    height: 2rem;
    width: 25rem;
    border-radius: 20px;
} 

.navbar ul {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
    word-spacing: 25px;
}
  
  .navbar li {
    display: inline-block;
    margin-right: 15px;
    color: white;
}
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.socialLinks{
    margin-top: 16rem;
}
.headline{
    height: 25rem;
    width: 40rem;
    font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  color: whitesmoke;
  margin-top: 15px;
}
.headline h1{
    margin-top: 125px;
    padding: 35px;
}
.register{
    height: 5rem;
}
.register-btn{
    text-align: center;
    cursor: pointer;
    height: 3rem; 
    width: 15rem;
    border-radius: 25px;
    margin-top: 8rem;
    margin-left: 155px;

}
